* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: rgb(255, 255, 255);
}

.barraSuperior {
	height: 100px;
	margin-top: 100px;
}

.senhaAtual {
	text-align: center;
	background-color: #38b403;
	color: white;
	margin-top: 50px;
}

.senhaTexto {
	font-size: 60px;
}

#senhaAtualNumero {
	font-size: 100pt;
}

.inforTexto {
	font-size: 60px;
	text-align: center;
	padding: 80px;
}

.tituloTexto {
	font-size: 60px;
	color: #000000;
}

audio {
	display: none;
}
